<h1 id="peuples">Peuples</h1>
<p><strong>Géant de Corda</strong> : Passionnés, sensibles, conteurs,
épicuriens. Ils sont les auteurs des fameuses <em>Cartes Stellaires
Schématiques de Corda</em>, grande de plusieurs mètres carrés, et
contenant les secrets du voyage entre les sphères.</p>
<p><strong>Nain</strong> : Créatures sculptées par d’autres nains. But :
créer des œuvres d’art dans des endroits inhabituels. L’œuvre ultime
d’un nain est un autre nain taillé dans un rocher. Parfois ça rate et
ils fabriquent un Nain Contrefait.</p>
<h1 id="créatures">Créatures</h1>
<p><strong>Ceux-Sales-Nés</strong> : Engence monstrueuse née dans des
lieux obscurs, loin des civilisations.</p>
<p><strong>Démons</strong> : Craignent l’argent. S’enduire de leur sang
rend invisible à leurs yeux.</p>
<p><strong>Les gremlins</strong> : Il y a des chasseurs qui s’occupent
spécialement d’eux.</p>
<p><strong>Pollueurs des étangs</strong> : grand prêtres adeptes de
P!P!Ssshrp le Dieu crapaud bouffi. Vivent avec les mouches.</p>
<p><strong>Homme-Rino</strong> : Créatures anciennement issues de la
sorcellerie qui se mettent au service de puissants. Ils sont, pour une
raison que l’on ignore, porteur d’un heaume minuscule et d’une pique
tout aussi petite, et aiment jouer avec leurs dés en os (probablement en
os de gobelins).</p>
<p><strong>Lamma Sceptique</strong> : Créatures coiffées d’un chapeau
tambourin et disposant d’un corps de taureau, d’une tête humaine, de
pattes de chat et d’ailes de cygnes. Créatures douces d’essence divines,
descendues des cieux pour traverser les abysses et rejoindre les
étoiles.</p>
<h1 id="académies-guildes-et-sociétés">Académies, guildes et
sociétés</h1>
<p><strong>L’Académie des Portes</strong> : Prestigieuse académie de
Troïka formant des sorciers experts en mobilité pandimensionnelle. De ce
fait, le sort <em>Envergure astrale</em>, permettant une translocation
partielle d’un sorcier grâce à la connaissance d’un réceptacle dans le
lieu visé, a rendu célèbre l’Académie.</p>
<p><strong>Astrologues</strong> : L’étude de l’astrologie est
essentielle pour dresser les cartes stellaires et déterminer la
destination des portails interdimensionnels.</p>
<p><strong>Les Chevaliers de l’Horizon</strong> : Chevaliers
probablement aujourd’hui disparus qui combattaient le Rien. Pour ce
faire ils usaient du sort <em>Ligne de vie</em> pour faire porter leurs
fonctions vitales à leurs écuyers afin de se jeter dans le néant des
bords de la création.</p>
<p><strong>Les Clavistes</strong> : Ce sont les maîtres des clés. Ils
parcourent l’univers pour étudier leur unique passion : les clés, aussi
bien physiques que métaphoriques.</p>
<p><strong>Le Club des gourmets de Mademoiselle Kinsey</strong> : Ses
membres se nomment les <em>Mangeurs</em> et n’ont d’autre but que
d’ingérer tout ce que le Monde Extérieur a à leur proposer dans leur
Monde Intérieur. Ils disposent pour cela de dentiers métalliques de
diverses formes et fonctions.</p>
<p><strong>Les Époptes</strong> : devins itinérants habillés d’une tenue
jaune. Utilise un bâton à l’extrémité duquel est serti un Rubis trouble,
une loupe octroyant la Seconde Vue, mais aussi une arme et un
emblême.</p>
<p><strong>Les Exographes</strong> : Universitaires traversant les
sphères, habillés de leur combinaison hermétique en caoutchouc, pour
étudier les régions éloignées des effluves divins.</p>
<p><strong>La Guide des Angles Aigus</strong> : Forme des assassins.</p>
<p><strong>La Guilde des Portefaix</strong> : Ses membres se mettent au
service des autres pour supporter toute charge. Ils parcouent les
sphères pour servir toujours plus.</p>
<p><strong>Lansquenets</strong> : Mercenaires engagés par le Trône du
Phénix et envoyés en Barges Dorés vers des sphères lointaines pour
répandre, par l’épée, la gloire de leurs seigneurs. Habillés de couleurs
vives.</p>
<p><strong>La Société de Knidos</strong> : Ses <em>mathémologues</em>
étudient tout à l’aune de la mathémologie afin de percer la surface
éthérée pour entrevoir les nombres fondamentaux qui structurent toute
chose.</p>
<p><strong>Les Sorcières de Papier</strong> : Sorcières mortent depuis
longtemps et couvrant leur peau en décomposition par une reproduction
parfaite en papier.</p>
<p><strong>La Sublime Société des Biftèques</strong> : Ses compagnons se
nomment les <em>Bagarreurs</em>, à raison car ils n’aiment que deux
choses : la force et un bon steak.</p>
<p><strong>L’Université des Amis</strong> : Portant aussi le nom
d’Académie Subdimensionnelle du Dieu-sorcier Cordial. Forme des sorciers
au savoir théorique considérable mais peu au fait de ce qui se passe
au-dehors. Il n’est pas rare que ses apprentis s’ennivrent le soir dans
les bars et les bordels, raison pour laquelle l’Université envoie ses
<em>Factotums</em> les débarasser de ces lieux.</p>
<p><strong>Zoanthropologue</strong> : Curieux savant étudiant, élevant
et créant des zoanthropes en retirant le cerveau de toute personnes
désireuse de se libérer du poid des vanités et de s’élever au rang d’un
simple animal.</p>
<h1 id="temples-et-autres-églises">Temples et autres églises</h1>
<p><strong>L’Église de la Rédemption Rouge</strong> : Ses évangélistes
antimatérialistes sont des confesseurs itinérants cherchant à extirper
partout le péché associé à la matière terrestre. Accumuler et consommer
la Masse nous densifie et nous lie au démiurge, ce dont il faut se
libérer. Ils sont habillés d’une tenu rouge, coiffés d’un heaume de
métal sans visage et porteurs d’un grande hache qui n’a de fonction que
symbolique. Pour ses Prêtres tout comportement perçu comme négatif signe
un certain degré de possession ou d’influence par les forces du
Changement qui sont des agents involontaires de la Masse.</p>
<p><strong>Temple de Télak l’Épéiste</strong> : Ses chevaliers sont des
moines fanatiques se préparant pour la fin des temps. Ils portent <em>la
bénédiction de Télak</em>, une armure qui tire sa puissance du nombre
d’épées que porte le chevalier. Ils usent de ces épées d’argent pour
atteindre à distance leurs ennemis grâce au sort <em>Frappe
insensible</em>.</p>
<h1 id="villes-cités-et-autres-sphères">Villes, cités et autres
sphères</h1>
<p><strong>La Cité de Laiton</strong> : Cente de savoir prestigieux.</p>
<p><strong>Le Palais des Tigres</strong> : Centre de savoir
prestigieux.</p>
<p><strong>Troïka!</strong> : Si ça n’est pas précisé c’est que ça se
passe à Troïka ! L’une des traditions de ses habitants consiste à
consulter un Baromètre de Poche pour obtenir une prévision
météorologique que l’on commentera avec son interlocuteur. La cérémonie
du thé impressionne beaucoup les habitants de cette ville.</p>
<p><strong>Les villages du Mur</strong> : Ces villages sont posés en
haut de murs immenses et instables. Leurs résidents aiment manger les
singes que leurs apportent les Colporteurs de Singes.</p>
<p><strong>Yongardy</strong> : Ville curieuse où les gens respectent
fondamentalement la Loi. L’administration est au centre de leur vie, les
avocats sont leurs héros.</p>
<h1 id="de-la-matière-du-monde">De la matière du monde</h1>
<p><strong>l’Argent</strong> : Métal le plus pur issu des étoiles du
ciel convexe. Il peut blesser les créatures immunisées aux blessures
physiques (démons et morts-vivants principalement, plus efficace que le
sel qui ne peut pas les tuer).</p>
<p><strong>Lumière astrale</strong> : Accessible en traversant le voile
de la réalité, y naviguer permet de transcender tous les problèmes
d’orientation habituels.</p>
<p><strong>Noyaux Plasmiques</strong> : Cristal serti dans un métal
servant de source d’énergie pour les armes exotiques et dont la nature
est incertaine (lumière stellaire ? Vapeurs astrales ? Fantômes
solidifiés ?).</p>
<h1 id="objets-curieux-ou-importants">Objets curieux ou importants</h1>
<p><strong>Barges Dorées</strong> : Elles servent à naviguer entre d’une
sphère à l’autre.</p>
<p><strong>Velare</strong> : Bijou fantaisie permettant de produire un
déguisement complet fait de lumière solide (vous rêvez de jouer une
Magical Girl ?).</p>
